.btn-contenedor {
	background-color: #DE341D;
	display: flex;
	align-items: center;
	gap: .3rem;
	height: 1.2rem;
	padding: 1rem;
	border-radius: .8rem;
	cursor: pointer;
}

.btn-parrafo {
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

.btn-img {
	height: 100%;
}