.btn {
	background-color: #DE341D;
	display: flex;
	align-items: center;
	gap: .3rem;
	padding: .8rem 10%;
	border-radius: .8rem;
	cursor: pointer;
	transition: all .3s ease;
	border: none;
}

.btn:hover{
	box-shadow: 2px 2px 7px;
	text-shadow: black 1px 3px 5px;
}

.btn__text {
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
	margin: 0;
}

.btn__img {
	height: 1.5rem;
}