.perdidosTarjeta__img:first-child {
	width: 180px;
	height: 180px;
	object-fit: cover;
	border-radius: 50%;
}

.perdidosTarjeta {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 300px;
	padding: 30px;
	border-radius: 10px;
	background-color: #fff9;
}

.perdidosTarjeta__subdata_container {
	display: flex;
	flex-direction: column;
}

.perdidosTarjeta__img:last-child {
	width: 25px;
	position: absolute;
	top: 15px;
	right: 15px;
}

.perdidosTarjeta__h3_red {
	color: #fff;
	background-color: #de341dcc;
	padding: 7px 20px;
	border-radius: 5px;
}

.perdidosTarjeta__h3_orange{
		color: #fff;
		background-color: #ffa500;
		padding: 7px 20px;
		border-radius: 5px;
	}

.perdidosTarjeta__subdata {
	font-family: 'Arial';
	font-style: normal;
	font-size: 16px;
	color: #343a40;
	text-align: center;
	margin: 5px 0;
}

.perdidosTarjeta__redes {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 0 8px;
	margin: 10px 0;
}

.perdidosTarjeta__redes > img {
	width: 30px;
}