.sectionOne__container {
  position: relative;
  width: 25%;
  height: 35rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #00000080;
  border-radius: 15px;
}

.sectionOne__container > p {
  position: absolute;
  bottom: 0;
  color: #fff;
  padding: 15px;
  margin: 0;
  background-color: #000a;
  border-radius: 0 0 15px 15px;
}