.tarjeta {
  display: block;
  padding: 1%;
  background: transparent;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  transition: all 100ms ease-in-out;
  margin-bottom: 3rem;
}

.tarjeta > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.tarjeta > div {
  margin: 0 30%;
}