.tarjeta {
  display: block;
  padding: 1%;
  text-align: center;
  border-radius: 50%;
  z-index: 1;
  transition: all 100ms ease-in-out;
  margin-bottom: 3rem;
}

.tarjeta>img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.tarjeta>div {
  margin: 0 30%;
}

.text {
  font-weight: bold;
  color: #fff;
  -webkit-text-stroke: 0.5px #000;
  font-size: 22px;
}

.text:nth-child(2) {
  font-size: 30px;
  margin: 0;
}