.header{
  height: 100vh;
  background-image: url(../../iconos/imagenes\ recursos/img-home.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 6rem 1fr;
}

.header__subtitles {
  text-align: center;
}

.header__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}

.header__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin: 0;
  width: 50%;
  margin-left: 1rem;
}

.header__buttons{
  display: flex;
  justify-content: space-evenly;
}

.adopciones {
  margin-top: 2rem;
  padding: 1%;
}

.adopciones > div {
  margin: 0 43%;
  margin-bottom: 2rem;
}
