.card {
  width: 220px;
  height: 220px;
  padding: 1%;
  background: linear-gradient(120deg, #9A5D30 16.69%, #FAFAFA 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  z-index: 1;
  transition: all 100ms ease-in-out;
  box-shadow: 5px 5px 20px #1C1C1C;
}

.card:hover {
  width: 500px;
  transition: all 100ms ease-in-out;
}

.card > img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.cardExtended {
  display: block;
}

.cardExtended > h3 {
  padding: 3%;
  text-align: center;
  background-color: #de523f;
  border-radius: 8px;
  color: #FAFAFA;
  margin-bottom: 1rem;
}

.cardExtended > ul {
  list-style: none;
}

.cardButton {
  padding: 0;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.cardButton > img {
  width: fit-content;
  height: fit-content;
  transition: all 200ms ease;
}

.cardButton > img:hover {
  transform: scale(1.3);
}

.arrow {
  rotate: 90deg;
}